/*body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
}

textarea {
	resize: none;
}



.header {
	height: 80px;
}

.middle {
	width: 100%;
	position: relative;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}

.content_wrapper {
	width: 100%;
	float: left;
	overflow: hidden;
	border-color: #dddddd;
	border-style:solid;
	border-width:1px;
	box-shadow: 5px 5px 25px #3c3c3c;
	min-height: 540px;
}
.content {
	padding: 80px 250px 0px 250px;
	
}

.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	padding: 30px 0 0 0;
}

.footer {
	margin-top: 50px;
	height: 100px;
}*/


#body {
  min-height: 100%;
}

#container {
  background-color:#F0F0F0;
  height: auto;
  margin: 0 auto;
}

#header {

}

#content {
  height: auto;
  margin: auto;
  padding-top: 70px;
}

#sideinfo {
  background-color:#DCDAD9;
  float: right;
  width: 20%;
  height: auto;
  padding-bottom:1.9em;
}

#footer {
  height: 50px;
  margin-top: 30px;
}

