.box {
    background-color: #fff;
    border:1px solid #ccc;
    padding: 12px 16px;
}

.box:before,
.box:after {
  content:"";
  display:table;
}
.box:after {
  clear:both;
}
.box {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

#board_tools {
    margin-top: 20px;
}

.btn_ctrls {
    width: 320px;
    float: left;
}

.search_box {
    width: 320px; 
    float: right;
}

.board_content {
    width: 760px;
    margin: auto;
}

.board_wrapper {
    padding-top: 1px;
    padding-bottom: 0px;
    margin-top: 5px;
}

.board_wrapper ul {
	list-style: none;
	padding: 0;
}


.board_wrapper ul li{
    padding: 5px 0px;
	list-style: none;
	border-bottom: 1px solid #aaa;
	
}

.article_wrapper {
    margin-top: 10px;
	margin-bottom: 0px;
	padding: 0;
	box-shadow: 5px 5px 0px #efefef;
}

.article_info {
    padding: 0px 16px;
   padding-bottom: 12px;
}

.article_header {
    //padding: 12px 20px;
}


.article_title {
    padding: 0px 2px;
    margin-left: 23px;
    margin-top: 16px;
    font-size: 37px;
    float: left;

}

.article_title h3 {
    
}

.info_label {
    background-color: #cccccc;
}

.info_label2 {

}

.info_label2:hover {
    background-color: #dddddd;
}


.article_info_add {
    margin-top: 5px;
    float: right;
}

#board_paginator {

}

#article_author {
    border: 0px dotted #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
	padding: 5px 10px;
}

#article_attachment {
	border: 1px dotted #b2b2b2;
	padding: 5px 10px;
	margin-top: 27px;
	margin-right: 23px;
	float: right;

}

#article_content {
	padding: 0px 12px;
	margin-top: 32px;
	min-height: 150px;
	display: inline-block;
}

#article_likes {
    margin-top: 30px;
	padding: 5px 30px ;
}

.comment_wrapper {
//	border-style: solid;
//	border-width: 1px;
//	border-color: #dedede;
	border-top: 1px solid #dedede;
}

.comment_wrapper .comment {
	background-color: #F0F6FA;
	border-bottom-width: 1px;
	border-bottom-color: #dedede;
	border-bottom-style: solid;
	padding: 5px 12px;
}

.last {
	border-bottom-style: solid;

}

.comment_wrapper .comment_write {
    padding: 12px 12px;
}

.comment .comment_head {
	//padding: 10px 0 5px 0;
    
}

.comment .comment_body {
//	padding: 5px 0 10px 0;
    margin-top: 3px;
    margin-left: 12px;
}

.comment .lb_comment_name {
	font-weight: bold;
}

.comment .lb_comment_written {
	color: #aaaaaa;
}

.comment .lb_comment_content {
	
}

.comment_write #id_content {

}

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    


/* Form wrapper styling */
.form-wrapper {
    width: 300px;
    padding: 5px;
    border:1px solid #ccc;
}
 
/* Form text input */
 
.form-wrapper input {
    width: 218px;
    height: 30px;
    padding: 10px 5px;
    float: left;    
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 70px;
    font: bold 15px/30px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #e54040;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 8px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}      
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    