<div class="board_wrapper box">
  <ul class="">

    <li class="row info_label">
      <span class="col-md-1"> <center>번호</center> </span>
      <span class="col-md-5"> 제목</center> </span>
      <span class="col-md-2"> <center>작성자</center> </span>
      <span class="col-md-2"> <center>작성일</center> </span>
      <span class="col-md-2"> <center>조회수</center> </span>
    </li>
    {% for art in articles %}
    <li class="row info_label2">
    <span class="col-md-1"> <center>{% if article.id == art.id %} <span class="glyphicon glyphicon-arrow-right"></span> {% else %} {{ art.id }} {% endif %}</center> </span>
    <a href="?article={{ art.id }}&page={{ articles.number }}"><span class="col-md-5">  {{ art.subject }} </span></a>
    <span class="col-md-2"> <center>{{ art.author.get_profile.name }}</center> </span>
    <span class="col-md-2"> <center>
    {% if art.written_today %}
    {{ art.written | date:"G:i:s" }}
    {% else %}
    {{ art.written | date:"Y-m-d" }}
    {% endif %}
    
    </center> </span>
    <span class="col-md-2"> <center>{{ art.hit }} </center></span>
    </li>
    {% endfor %}
    </ul>
  {% with paginator=articles.paginator %}
  <div class="text-center" id="board_paginator">
      <ul class="pagination" >
      {% if articles.has_previous %}
        <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
      {% endif %}  
    
      </li>
      {% for page in paginator.page_range %}
         <li {% if page == articles.number %} class="active" {% endif %}><a href="?page={{ page }}"> {{ page }} <span class="sr-only">(current)</span></a></li>
      {% endfor %}
  
      {% if articles.has_next %}
        <li><a href="?page={{ articles.next_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
      {% endif %} 
      </ul>
  </div>
  {% endwith %}
  
</div>
