<div class="article_wrapper box">
<div class="article_header clearfix">
     <div id="article_author">
        <span> {{ article.id }} </span>
        <span> {{ article.author.get_profile.name }} </span>
        <span> <small> {{ article.written }} </small> </span>
     </div>
     <div class="article_title"> {{ article.subject }}</div>
          <div id="article_attachment">
            첨부파일 : 
            {% with attachment=article.attachment %}
            {% if attachment %}
    
              <a href='{% url 'download' attachment.uuid %}'> {{ attachment.name }} </a>
            {% else %}
              없음
            {% endif %}
            {% endwith %}
     </div>
</div>
<div class="article_info clearfix">
  <div id="article_content">
    {% for line in article.content_lines %}
    <p> {{ line }} </p>
    {% endfor %}

  </div>
  <div id="article_likes">
      {% if is_liked %}
        <a href="{% url 'dislikes' article.id %}">좋아요 취소</a>
      {% else %}
        <a href="{% url 'likes' article.id %}">좋아요</a>
      {% endif %}
      {% if article.liked_by.count >= 1 %} 
      <span> {{ article.liked_by.count }}명이 좋아합니다. </span>
      {% endif %}
  </div>
</div>

<div class="comment_wrapper">
  {% for comment in article.comment_set.all %}
  <div class="comment">
    <div class="comment_head">
      <span class="lb_comment_name">
          {{ comment.author.get_profile.name }} 
      </span>
      <span class="lb_comment_written">
          <small>{{ comment.written }}</small>
      </span>
    </div>
    <div class="comment_body">
      <span class="lb_comment_content">
        {{ comment.content }}
      </span>
    </div>
  </div>
  {% endfor %}
  <div class="comment_write">
    <form action="{% url 'comment' article.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="page" value="{{ current_page }}" />
    {% if current_board %}
    <input type="hidden" name="board" value="{{ current_board }}" />
    {% endif %}
    <div class="row">
      <div class="col-md-10"> {{ form.as_p }} </div>
      <div class="col-md-2"> <button type="button" class="btn btn-primary btn-lg" onclick="submit()">코멘트</button> </div>
    </div>
    
    </form>
  </div>
</div>
</div>