<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  {% block head %}{% endblock %}
</head>

<body>
  <div>
    <div id="header">
      {% block navbar %}
        {% include "navbar.html" %}
      {% endblock %}
    </div>

    <div class="container">
      <div id="content">
        {% block content %}
          <h1>content</h1>
        {% endblock %}
      </div>
      <!--
      <div id="sideinfo">
        {% block sideinfo %}
          <h1>sideinfo</h1>
        {% endblock %}
      </div>
      -->
    </div>
    <div class="container">
      <div id="footer">
          <center>Terms Privacy Developers © 2014 HeXA </center>
      </div>
    </div>
  </div>
</body>

</html>
