<!DOCTYPE HTML>


<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/base.css">
  {% block head %}{% endblock %}
</head>

<body>
  <div id="container">
    <div id="header">
      {% block navbar %}
        {% include "navbar.html" %}
      {% endblock %}
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="sideinfo">
      {% block sideinfo %}
        <h1>오른쪽사이드바</h1>
      {% endblock %}
    </div>
    <div id="footer-fixed">
      {% block footer %}
        <center>Terms Privacy Developers © 2014 HeXA </center>
      {% endblock %}
    </div>
  </div>
</body>
</html>
