<!DOCTYPE html>
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{# Display django.contrib.messages as Bootstrap alerts #}

<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/intro.css">
</head>
<body>
  <div id="header">
    <div class="container">
      <a id="logo" href="/">
        <div id="logo_image"></div>
      </a>
    </div>
  </div>
  <section id="intro">
    <div class="container">
      <div class="row">
      <div class="col-md-6">
        <h2> Welcome to </h2>
        <h1> HeXA </h1>
      </div>
      <div class="col-md-6">
      <img id="mark" src="/static/logo.png"/>
        
      </div>
      </div>
      <br>
    </div>
  </section>
  <section id="whoami">
    <div class="container">
    <div class="row">
      <h1> WHO AM I? </h1>
    </div >
     <p class="intro_details">
        2011년에 만들어진 UNIST의 컴퓨터 정보보안 동아리인 HeXA는 Hacker's eXciting Academy의 약자이며, <br>컴퓨터 보안에 대한 깊은 연구에 관심을 두고 있는 동아리 입니다.<br><br>
        해킹이라는 말을 컴퓨터 자체로써도 받아들여 컴퓨터의 내부구조에 대한 깊은 공부를 하기도 하고 웹 분야에서의 친숙한 웹 해킹 또한 다루고 있습니다.<br><br>
        때로는, 학교내의 보안 취약점들을 찾아 학교에 보고하면서, 학교의 보안을 강화하기 위해 노력하고 있습니다.<br><br>
        게시판은 승인후 이용가능합니다.<br><br>
        가입후 이름과 아이디를 임원에게 알려주시면 승인해드리겠습니다.<br><br>
      </p>
      <div class="contact">
        <center>문의 사항은 아래의 E-Mail로 보내 주세요. <br></center>
        <center>회장 <label>한명균</label> - hmg0228@unist.ac.kr</center>
      </div>
    </div>
  </section>
  {% if user.is_anonymous %}
  <section id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        <h1> Registraion </h1>
        입력 창을 모두 채우신 후 가입하기 버튼을 눌러주세요.
        </div>
        <div class="col-md-6">
        <form action="{% url 'signup' %}" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          
          
          <button type="button" class="btn btn-primary btn-lg" onclick="submit()">가입하기</button>
        </form>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <div id="footer">
   <div class="container">
      <div id="container_footer">
          <h5>Terms Privacy Developers © 2014 HeXA</h5>
      </div>
    </div>
  </div>
</body>
</html>
