<!DOCTYPE html>
{% load bootstrap3 %}

{# Load CSS and JavaScript #}


{# Display django.contrib.messages as Bootstrap alerts #}

<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/intro.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<style> 
	#mask {  
	  position:absolute;  
	  z-index:9000;  
	  background-color:#000;  
	  display:none;  
	  left:0;
	  top:0;
	} 
	.window{
	  display: none;
	  position:absolute;  
	  right:30px;
	  top:0px;
	  z-index:10000;
	}
	</style> 
	<script src="http://code.jquery.com/jquery-latest.js"></script> 
	<script> 
	function wrapWindowByMask(){
		//화면의 높이와 너비를 구한다.
		var maskHeight = $(document).height();  
		var maskWidth = $(window).width();  

		//마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
		$('#mask').css({'width':maskWidth,'height':maskHeight});  

		//애니메이션 효과 - 일단 1초동안 까맣게 됐다가 80% 불투명도로 간다.
		//$('#mask').fadeIn(1000);      
		//$('#mask').fadeTo("slow",0.8);
		$('#mask').fadeTo(0,0);

		//윈도우 같은 거 띄운다.
		$('.window').show();
	}

	$(document).ready(function(){
		//검은 막 띄우기
		$('.openMask').click(function(e){
			e.preventDefault();
			wrapWindowByMask();
		});

		//닫기 버튼을 눌렀을 때
		$('.window .close').click(function (e) {  
      //링크 기본동작은 작동하지 않도록 한다.
      e.preventDefault();  
      $('#mask, .window').hide();  
		});       

		//검은 막을 눌렀을 때
		$('#mask').click(function () {  
      $(this).hide();  
      $('.window').hide();  
		});      
	});
	</script> 
</head>
<body>
	<div id="mask"></div> 
  {% if user.is_anonymous %}
	<div class="window"> 
		{% include 'login.html' %}
	</div> 
  <div id="header">
    <a href="#" class="openMask" style="font-size:200%; position:absolute; right:0px;">LOGIN</a> 
  </div>
  {% endif %}
 <section id="links">
   <div class="container">
<center>
 <a href="http://hexa.perl.sh" target="_blank">hexa.perl.sh</a>  -> HeXA 홈페이지<br>
<a href="http://hexa.pro" target="_blank">hexa.pro</a> -> HeXA 홈페이지 (외부 접속 O)<br>
<br>
<a href="http://moza.hexa.pro" target="_blank">moza.hexa.pro</a>  -> Moza 서버 주소(이 페이지)<br>
<br>
<a href="http://berryz.hexa.pro" target="_blank">berryz.hexa.pro</a> -> 베리즈<br>
<a href="http://uberryz.hexa.pro" target="_blank">uberryz.hexa.pro</a> -> 베리즈 (외부 접속 가능... 인데 안쓰길 바람)<br>
<br>
태훈이형 서비스<br>
<a href="http://movieduk.hexa.pro" target="_blank">movieduk.hexa.pro</a> -> 무비덕 (외부 접속 X)<br>
<a href="http://unicorn.hexa.pro" target="_blank">unicorn.hexa.pro</a> -> 유니콘 (외부 접속 O)<br>
<br>
Moza 외부 SSH<br>
hexa.pro:2222 (port: 2222)<br>
접속 후 쉘에서<br>
ssh 아이디@서버주소<br>
를 통해 교내 다른 ssh (ex, 헥사 서버 / 엔프 서버 등) 로 넘어가기 가능<br>
</center>
</div>
</section>

  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2> Welcome to </h2>
          <h1> HeXA </h1>
        </div>
        <div class="col-md-6">
          <img id="mark" src="/static/logo.png"/>
        </div>
      </div>
      <br/>
    </div>
  </section>
  <section id="whoami">
    <div class="container">
    <div class="row">
      <h1> WHO AM I? </h1>
    </div >
     <p class="intro_details">
        2011년에 만들어진 UNIST의 컴퓨터 정보보안 동아리인 HeXA는 Hacker's eXciting Academy의 약자이며, <br>컴퓨터 보안에 대한 깊은 연구에 관심을 두고 있는 동아리 입니다.<br><br>
        해킹이라는 말을 컴퓨터 자체로써도 받아들여 컴퓨터의 내부구조에 대한 깊은 공부를 하기도 하고 웹 분야에서의 친숙한 웹 해킹 또한 다루고 있습니다.<br><br>
        때로는, 학교내의 보안 취약점들을 찾아 학교에 보고하면서, 학교의 보안을 강화하기 위해 노력하고 있습니다.<br><br>
        게시판은 승인후 이용가능합니다.<br><br>
        가입후 이름과 아이디를 임원에게 알려주시면 승인해드리겠습니다.<br><br>
      </p>
      <div class="contact">
        <center>문의 사항은 아래의 E-Mail로 보내 주세요. <br></center>
        <center>회장 <label>한명균</label> - hmg0228@unist.ac.kr</center>
      </div>
    </div>
  </section>
  {% if user.is_anonymous %}
  <section id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        <h1> Registraion </h1>
        입력 창을 모두 채우신 후 가입하기 버튼을 눌러주세요.
        </div>
        <div class="col-md-6">
        <form action="{% url 'signup' %}" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          
          
          <button type="button" class="btn btn-primary btn-lg" onclick="submit()">가입하기</button>
        </form>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <div id="footer">
   <div class="container">
      <div id="container_footer">
          <h5>Terms Privacy Developers © 2014 HeXA</h5>
      </div>
    </div>
  </div>
</body>
</html>
