<div align=center>
  <br/>
  <a href="http://hexa.iptime.org:8000/" target="_blank"><img src="/static/movieduk.png" width=180 border=0 /></a>
  <br/>
  <a href="http://unif.wo.tc/wiki" target="_blank"><img src="/static/hexawiki.png" width=180 border=0 /></a>
  <br/>
  <a href="http://www.facebook.com/unist.hexa" target="_blank"><img src="/static/facebook-hexa.png" width=180 border=0 /></a>
  <br/>
  <a href="http://club.cyworld.com/ClubV1/Home.cy/53814181" target="_blank"><img src="/static/nate.png" width=180 border=0 /></a>
  <br/>
  <a href="http://www.facebook.com/hexa.portal" target="_blank"><img src="/static/portalbot2.png" width=180 border=0 /></a>
  <br/>
  <a href="http://www.unist.ac.kr"><img src="/static/unist.png" border=0 /></a>
  <br/>
  <br/>
</div>
