{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/board.css">
{% endblock %}


{% block content %}
  <div class="board_content">
    {% if article %}
        {% with current_page=articles.number %}
	    {% include "article.html" with article=article is_liked=is_liked %}
	    {% endwith %}
	{% endif %}

    <div class="box" id="board_tools">
        <div class="btn_ctrls">
            {% if current_board %}
            <span>
                <a href="{% url 'write_article' current_board %}" class="btn btn-primary" onclick="submit()"> New </a>
            </span>
                {% if article and article.author == user %}
                <span>
                    <a href="{% url 'write_article' current_board %}" class="btn btn-warning" onclick="submit()"> Modify </a>
                </span>
                <span>
                    <a href="{% url 'write_article' current_board %}" class="btn btn-danger" onclick="submit()"> Delete </a>
                </span>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="search_box">
            <form class="form-wrapper cf"  role="search">
                <input type="text" class="form-control" placeholder="Search">
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>

    </div>

	{% include "articles.html" with articles=articles current_article=article %}
  </div>	
{% endblock %}