<nav class="navbar navbar-inverse navbar-fixed-top scoped-content">
<div class="container">
  <style type="text/css" scoped>
  .navbar-inverse {
    background-color: #343434;
    border-color: #232323;
  }
  .pull-right { margin-right: 20px }
  </style>

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  
  <a class="navbar-brand" href="{% url 'intro.views.main' %}"><img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn1/t1.0-9/10262087_257735844432069_7674560844438266838_n.jpg" width="25px" height="25px"></img> HeXA</a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">Introduce <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'board' 'hexa' %}">HeXA</a></li>
          <li><a href="{% url 'board' 'history' %}">History</a></li>
          <li><a href="{% url 'board' 'member' %}">Member</a></li>
          <li><a href="{% url 'board' 'calender' %}">Calender</a></li>
          <li><a href="{% url 'board' 'ctf' %}">CTF</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">Community <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'board' 'notice' %}">Notice</a></li>
          <li><a href="{% url 'board' 'update' %}">Update</a></li>
          <li><a href="{% url 'board' 'freeboard' %}">FreeBoard</a></li>
          <li><a href="{% url 'board' 'gallery' %}">Gallery</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">Study <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'board' 'system' %}">System</a></li>
          <li><a href="{% url 'board' 'network' %}">Network</a></li>
          <li><a href="{% url 'board' 'web' %}">Web</a></li>
          <li><a href="{% url 'board' 'other' %}">Other</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">Database <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'board' 'dbsystem' %}">System</a></li>
          <li><a href="{% url 'board' 'dbnetwork' %}">Network</a></li>
          <li><a href="{% url 'board' 'dbweb' %}">Web</a></li>
          <li><a href="{% url 'board' 'coding' %}">Coding</a></li>
          <li><a href="{% url 'board' 'infomation' %}">Information</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">Wargame <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'board' 'rank' %}">Rank</a></li>
          <li><a href="{% url 'board' 'game' %}">Game</a></li>
        </ul>
      </li>
      <li><a href="{% url 'album' %}">Album</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li class="dropdown pull-right">
        <a href class="dropdown-toggle" data-toggle="dropdown">{{user.get_profile.name}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'signout' %}"><b>Sign out</b></a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  </div>
</nav>
