<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Sign in</title>
<link rel="stylesheet" href="/static/css/normalize.css"  type="text/css" />
<link rel="stylesheet" href="/static/css/signin.css"  type="text/css" />
</head>
<body class="glass">
  <div class="content-wrapper">
    <div class="content">
      <div class="signin">
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="user" value="{{ username }}">
			<input type="password" placeholder="Password" name="password">
			{% if next %} <input type="hidden" name="next" value="{{ next }}"> {% endif %}
			<input type="submit" class="signin-submit" value="Sign in">
        </form>
        
      </div>
      {% if message %}
      <div class="message-box">
       {{ message }}
      </div>
      {% endif %}
    </div>
  </div>
</body>

</html>