{% extends "base.html" %}

{% block article %}

{% endblock %}

{% block content %}

<div class="page-header">
  <h1> {{ article.subject }} <span class="label label-default"> {{ article.author.get_profile.name }} </span></h1>

</div>
<div class="row">
	<div class="col-md-offset-1">
	{{ article.content }}
	</div>
	<small> {{ article.written }} </small>

</div>
<hr>
{% for comment in comments %}
<div class="row">
{{ comment.author.get_profile.name }} {{ comment.content }}
</div>
{% endfor %}
<form action="{% url 'write_comment' article.id %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="button" class="btn btn-primary btn-lg" onclick="submit()">코멘트</button>
</form>

{% endblock %}